.container {
  padding: 25px;
  background: #fff;
}

.table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;

  &__head {
    background-color: #F9FAFC;
    color: #6A6A6C;

    & th {
      padding: 20px;
      border-bottom: 1px solid #ECEBF1;
      width: 18%;

      &:nth-child(6) {
        width: 10%;
      }

      & span {
        background-color: #6A6A6C;
        color: white;
        border-radius: 50%;
        padding-right: 3px;
        padding-left: 3px;
      }
    }
  }

  &__body {

    & td {
      padding: 20px;
      background-color: #fff;
      border-bottom: 1px solid #ECEBF1;
      width: 18%;
      text-align: center;
      &:nth-child(6) {
        width: 10%;
        color: #6A6A6C;
        font-weight: bold;
        cursor: pointer;
        padding: 10px;
      }
    }
  }
}

.table-footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
