<div class="container">
  <table class="table">
    <thead class="table__head">
      <tr>
        <th>Logo</th>
        <th>Nombre del producto</th>
        <th>Descripción <span>&#8505;</span></th>
        <th>Fecha de liberación <span>&#8505;</span></th>
        <th>Fecha de restructuración <span>&#8505;</span></th>
        <th></th>
      </tr>
    </thead>
    <tbody class="table__body">
      <tr *ngFor="let product of productList | slice: 0: pagination">
        <td>
          <img width="40" [src]="product.logo" alt="logo">
        </td>
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.date_release | date: 'dd/MM/yyyy'}}</td>
        <td>{{product.date_revision | date: 'dd/MM/yyyy'}}</td>
        <td style="position: relative;">
          <button (click)="toggleMenu(menu)">&#8942;</button>
          <div #menu class="menu hide-menu">
              <button (click)="updateProduct(product)">Editar</button>
              <button (click)="removeProduct(product)">Eliminar</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="table-footer">
    <span>{{productList?.length}} Resultados</span>
    <select name="rows" id="pagination" [formControl]="paginationControl">
      <option value="5">5</option>
      <option value="15">15</option>
      <option value="20">20</option>
    </select>
  </div>
</div>
